---
layout: layouts/base.njk
---
<div class="project-card">
    {{ media | safe }}
    <p class="project-description">{{ description }}</p>
    {%- if content %}
    {{ content | safe }}
    {%- endif %}
</div>
<p><a href="/projects/">&larr; Back to all projects</a></p>
