---
layout: layouts/base.njk
title: About Me
description: "Learn about me."
---
<section>
    <h2>Introduction</h2>
    <p>Hello! I'm Ben Anderson, a computer science student at UC San Diego.</p>
    <p>I am passionate about software development and have experience in various programming languages.</p>
</section>

<section>
    <h2>Education</h2>
    <p><b>High School:</b> <i>Mountain View High School</i></p>
    <p><b>Bachelor's:</b> <i>University of California, Merced</i></p>
    <p><b>Bachelor's (Transfer):</b> <i>University of California, San Diego</i></p>
    <p><b>Master's:</b> <i>University of California, San Diego</i></p>
</section>

<p><a href="/aboutme-wishcore/">✧ See this page in Wishcore ✧</a> — a restyled version of this same page.</p>
