<footer>
    <h3>Contact Information</h3>
    Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    <br />
    Github: <a href="{{ site.github.url }}">{{ site.github.label }}</a>
    <br />
    LinkedIn: <a href="{{ site.linkedin.url }}">{{ site.linkedin.label }}</a>
    <p>&copy; {{ site.year }} {{ site.author }}. All rights reserved.</p>
</footer>
