---
layout: layouts/project.njk
tags: projects
order: 3
title: Project 3
description: "Description of Project 3"
media: |
  <iframe class="project-image" src="https://www.youtube.com/embed/ftQ357q102E" title="Project 3 YouTube video" allowfullscreen></iframe>
---
