---
layout: layouts/project.njk
tags: projects
order: 2
title: Project 2
description: "Description of Project 2"
media: |
  <picture>
      <source srcset="/assets/img/2.png" type="image/png">
      <source srcset="/assets/img/2.jpg" type="image/jpeg">
      <img src="/assets/img/2.jpg" alt="Project 2 Image" class="project-image">
  </picture>
---
